<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reef Interview Dashboard</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

</head>
<body>

<div class="container">
    <hr>
    <p>Inspired by this <a href="http://bootsnipp.com/snippets/featured/panel-tables-with-filter">snippet</a></p>
    <div class="row">
        <p>Select Date: <input type="text" id="datepicker"></p>
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Times</h3>
            </div>
            <table id="mainTable" class="table">
                <thead>
                    <tr>
                        <th>Projects</th>
                        {% for employee in employees %}
                            <th>{{ employee.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% if content %}
                        {% for project_name, data in content.items() %}
                            <tr>
                                <td>{{ project_name }}</td>
                                {% for employee, time in data.items() %}
                                    <td>{{ (time/60/60)|round(2) }} hs</td>
                                {% endfor %}
                                {% for cell in range(employees|length - data|length ) %}
                                    <td></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="container">

</div>
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.print.js"></script>

<script type="text/javascript">
   $(document).ready( function () {
    $('#mainTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
    $( "#datepicker" ).datepicker();

    $("#datepicker").change(function(){
        let selectedDate = $( "#datepicker" ).datepicker("getDate");
        console.log(selectedDate);
        window.top.location.replace("/?date=" + selectedDate.toISOString())
    })

});
</script>
</html>